<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f62aa6f8cf.js" crossorigin="anonymous"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous"
    />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
    href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Home</title>
</head>
<body class="bg-dark text-light">
    {% include 'base/navbar.html' %}
    <div class="container bg-dark text-light">
        <div class="row gx-4">
            <h1 class="mt-4">Menu</h1>
                <h3><a href="create_classroom">Create classroom</a></h3>
                <br>
                <h3><a href="create_question">Create questions</a></h3>
                <br>
                <h3><a href="access">Access classroom</a></h3>
                <br>
                <h3><a href="track">Track questions</a></h3>
                <br>
                <h3><a href="">DSL documentation</a></h3>
            
        </div>
    </div>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"
  ></script>
  {% include 'base/navbar.html' %}
</body>
</html>