<style>
    .navbar a{
        color:white;
        text-decoration: none;
        font-weight: bold;
    }
    .navbar{
        padding-left: 15%;
        padding-right: 15%;
    }
</style>

<div class="navbar">
    <a href="{% url 'index' %}">Home</a>
    |
    <a href="{% url 'access_question' %}">Access</a>
    |
    <a href="{% url 'create_classroom' %}">Create classroom</a>
    |
    <a href="{% url 'create_question' %}">Create questions</a>
    |
    <a href="{% url 'tracking' %}">Track</a>
    |
    <a href="{% url 'index' %}">DSL Guide</a>
</div>
