<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/f62aa6f8cf.js" crossorigin="anonymous"></script>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        crossorigin="anonymous"
        />
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
        />
        <link
        href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
        rel="stylesheet"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        {% load static %}
		<link rel="stylesheet" href="{% static 'base/style.css' %}">
        <title>Quiz</title>

        

    </head>
    <body>
    
        <!-- Question display-->
        <section class="bg-dark text-light p-5">
            <div class="container">
            <div class="row justify-content-between">
                <div class="col-md">
                    <h1>Question: {{ question_title }}</h1>
                    <p class="lead">{{ question }}</p>
                    <!-- <p class="pt-3 lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita voluptate aut dignissimos dolores explicabo, consequatur provident atque vel eius repellendus? Ex sit voluptas iure consequuntur amet culpa architecto ipsam nesciunt temporibus quo voluptatum et debitis ratione quidem nihil cupiditate obcaecati soluta eos laboriosam error, minima cum esse. Libero, omnis nam.</p> -->
                </div>
                <!-- <div class="col-md">
                    <h1>Why is this wonky?</h1>
                    <p class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione autem recusandae placeat, vitae quaerat pariatur quibusdam consectetur quo nemo molestiae iure dignissimos illum quos necessitatibus! Iure, veniam a. Eveniet, facilis! Delectus ipsa explicabo cumque quisquam assumenda, veniam similique possimus, corporis iure accusamus enim nisi consequuntur vel illum rem error. Accusamus.
                    </p>
                </div> -->
            </div>
            </div>
        </section>
        

        <section class="bg-dark text-light p-2">
            <div class="container">
                <div class="row g-4">
                    <div class="col-6">
                        <h3 class="mb-3">Code Editor</h3>
                        <!--<textarea cols="70" rows="20"></textarea>-->
                        <!--Stuff-->
						
                        <textarea form="CodeForm" id="codemirror-textarea" name="codemirror-textarea" class="codemirror-textarea form-control">{{ content }}</textarea>
						{% load static %}
                        <link rel="stylesheet" type="text/css" href="{% static 'mycode/plugin/codemirror/lib/codemirror.css' %}">
                        <script type="text/javascript" src="{% static 'mycode/jquery.min.js' %}"></script>
                        <script type="text/javascript" src="{% static 'mycode/plugin/codemirror/lib/codemirror.js' %}"></script>
                        <script type="text/javascript" src="{% static 'mycode/plugin/codemirror/mode/clike/clike.js' %}"></script>
                        <script type="text/javascript" src="{% static 'mycode/script.js' %}"></script>
                        <script>
                            $(document).ready(function(){
                                var code = $(".codemirror-textarea")[0];
                                var editor = CodeMirror.fromTextArea(code, {
                                    lineNumbers : true,
                                    mode : "text/x-java",
                                    matchBrackets: true
                                });
								editor.setSize(600, 607);
                            });
							
                        </script>
                    </div>
                    <div class="col-md">
                        <h3 class="mb-3">Output</h3>
                        <textarea readonly style="resize: none;" cols="50" rows="5">
{{ compiler_output }}
						</textarea>
                        <h3 class="mb-3 mt-5">Feedback</h3>
                        <textarea readonly class="mb-3" cols="50" rows="8">
{{ feedback }}
						</textarea><br>
                        <form id="CodeForm" action="/task/{{ pk }}" method="post">
							{% csrf_token %}
							<input type="submit" value="Submit Work" class="btn btn-primary me-4 mb-4 display-flex"></button>
						</form>
                        {% if feedback == "Congratulations, your submission matches the expected answer" %} 
                        <form id="NextQuestionForm" action="/next/{{ next_pk }}" method="post">
							{% csrf_token %}
							<input type="submit" value="Next Question" class="btn btn-secondary me-4"></button>
						</form>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-6 mt-5">
                        
                    </div>
                </div>
            </div>
        </section>
    









    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"
  ></script>
    </body>
</html>